name: Release Helpers

on:
  push:
    branches:
      - main
    paths:
      - 'helpers/**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0

      - name: Release
        uses: ./.github/actions/release
        with:
          module: "helpers"
